<div class="container-fluid">
  <div class="my-4 fs-2 " style="font-weight: bold;  color: #CFD461;"> My Message </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="filter" >
        <div class="form-group">
          <label for="date">Date Select:</label>
          <input (click)="applyFilter($event)"  formControlName="createdAt" type="date" class="form-control" id="date" required />
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row my-3">
    <div *ngFor="let item of myMessages" class="col">
      <mat-card class="example-card mx-4">
        <mat-card-header>
          <mat-card-title class="title-card my-2 fs-4 ">{{item.tilte}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span> {{item.content}}</span>
        </mat-card-content>
        <mat-card-footer>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <br>
                <small>{{item.createdAt | date}} </small>
              </div>
              <div class="col-6">
                <br>
                <small style="font-weight: bold;">{{item.user.username }}</small>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
<div>
