<br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h1>Create message</h1>
    </div>
  </div>
  <br>
  <div class="row mx-1">
 <form [formGroup]="messageForm" >
    <div class="form-group">
      <mat-label  class="title">Title messages</mat-label>
      <input formControlName="tilte" type="text" class="form-control" placeholder="Talk about me">
    </div>
    <div class="row mx-1">
      <mat-label   class="title">Messages</mat-label>
      <textarea formControlName="content" class="form-control" placeholder="create message for share white friends. Max 700 chars"></textarea>
    </div>
 </form>
</div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4 justify-content-between">
      <button type="button" (click)="CreatePublication()" class="btn btn-lg btn-light btn-rounded">Share</button>
    </div>
  </div>
  <br>

</div>
