<br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h1>Create message</h1>
    </div>
  </div>
  <br>
  <div class="row mx-1">
 <form >
    <div class="form-group">
      <mat-label class="title">Title messages</mat-label>
      <input type="text" class="form-control" placeholder="Talk about me">
    </div>
    <div class="row mx-1">
      <mat-label class="title">Messages</mat-label>
      <textarea class="form-control" placeholder="create message for share white friends. Max 700 chars"></textarea>
    </div>


 </form>
</div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4 justify-content-between">
      <button type="button" class="btn btn-lg btn-light btn-rounded">Share</button>
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <div class="col">
      <mat-card class="example-card mx-4">
        <mat-card-header>
          <mat-card-title class="title-card my-2">Do you want to make a living by giving your sports predictions?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{longText}}</p>
        </mat-card-content>
        <mat-card-footer>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <br>
                <small>10:25 am 20/11/22</small>
              </div>
              <div class="col-6">
                <br>
                <h4>Daniel Amateus</h4>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div> -->
</div>
