<div class="d-md-none text-center " id="img-fondo">
  <span id="fondo-text"> wires </span>
</div>
<div class="text-center my-5 text-white fs-2 " style="font-weight: 700;"> Welcome to Wires </div>
<div class="text-center d-md-none">
  <form [formGroup]="loginForm" >
    <button (click)="register()" id="button-using-up">
    using up
    </button>
    <div class="mt-5 mb-2 text-center d-md-none">
      <label for="basic-url">Email adress</label><br>
      <input type="text" formControlName="email" placeholder="Escribe aquí">
    </div>
    <div class="text-center d-md-none">
      <label for="basic-url">password</label><br>
      <input formControlName="password" type="password" placeholder="Escribe aquí">
    </div>
    <div class=" mt-5 text-center d-md-none">
      <button  (click)="login()" id="button-using-in">
        Using In
      </button>
    </div>
</form>
</div>

<div class="text-center m-2 d-md-none">
  <label for="terms">
    <input type="checkbox" id="terms" name="terms">
    Acepto los Términos y Condiciones
  </label>
</div>
<!-- laptops -->
<div class=" d-none d-md-flex my-5 justify-content-center">
  <div class="container " style="display: contents;">
    <div class="card-login text-center">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class=" mt-5 " class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button (click)="login()" class="mt-4" type="submit" style=" background-color: transparent;
            border: 2px solid #e6e6e6;
            color: #CFD461;
            border-radius: 50px;
            padding: 0.8% 30%;
            text-align: center;
            font-size: 1em;
            font-weight: bolder;"
          >Using In</button><br>
          <button (click)="register()" class="mt-2" type="submit" style="  background-color: transparent;
            border: 2px solid #e6e6e6;
            color: #CFD461;
            border-radius: 50px;
            padding: 0.8% 30%;
            text-align: center;
            font-size: 1em;
            font-weight: bolder;"
          >Using up</button>
          <div  class="text-center m-2 ">
            <label for="terms">
              <input type="checkbox" id="terms" name="terms">
              Acepto los Términos y Condiciones
            </label>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
