#img-fondo{
  padding: 6.5rem 11%;
  background: url('../../assets/image/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
#fondo-text{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  color: #CFD461;
}
#button-using-up{
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: #CFD461;
  border-radius: 50px;
  padding: 2% 36%;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
input {
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: #CFD461;
  text-align-last: center;
  padding: 1.4% 24%;
}

label {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  color: #CFD461;
  font-family: 'Poppins', sans-serif;
}

#button-using-in{
  background-color: rgb(216, 216, 216);
  border: 1px solid #e6e6e6;
  color: #1d1d1d;
  border-radius: 50px;
  padding: 2% 36%;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

.card-login {
  all: unset;
  border-radius: 4px;
  height: 400px;
  width: 500px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  color: #CFD461;
  padding: 1% 10%;
}

